body {
  /* background-color: red; */
}

#root{
  display:flex;
  place-items:center;
  justify-content:center;
  background-color:rgb(90, 4, 141);
  height:100vh;
  weight:100%;
  border:2px solid red;
}

