#clm{
    width: 27%;
    height: 100% ;
    /* border: 1px solid blue ; */
    display:grid;
    grid-auto-flow:columns;
    grid-template-columns:auto auto auto;
    /* place-items:center; */

}
/* .item{
    width: auto;
    height: auto;
    display: flex;
} */

.sml-container{
    display:flex;
    border:1px solid black;
    width:auto;
    height:auto;
    justify-items:center;
    justify-content:center;

    

}